<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Visualiza cliente</title>
</head>
<body>
    <h1>Visualizar cliente</h1>
	<br> 
	<table>
		<tr>
			<td>id</td>
			<td th:text="${clienteDTO.id}"></td>
		</tr>
		<tr>
			<td>Nombre</td>
			<td th:text="${clienteDTO.nombre}"></td>
		</tr>
		<tr>
			<td>Apellidos</td>
			<td th:text="${clienteDTO.apellidos}"></td>
		</tr>
		<tr>
			<td>NIF</td>
			<td th:text="${clienteDTO.nif}"></td>
		</tr>
		<tr>
			<td>Correo electrónico</td>
			<td th:text="${clienteDTO.email}"></td>
		</tr>
		<tr>
			<td>Fecha Nacimiento</td>
			<td th:text="${#dates.format(clienteDTO.fechaNacimiento, 'dd/MM/yyyy')}"></td>
		</tr>
		<tr>
			<td>Clave seguridad</td>
			<td th:text="${clienteDTO.claveSeguridad}"></td>
		</tr>
		<tr>
			<td>Recomendación</td>
			<td th:text="${clienteDTO.recomendacionDTO.observaciones}"></td>
		</tr>
	</table>
	<br><br>
	<a th:href="@{/clientes}">Volver a la lista de clientes</a>
</body>
</html>
